{% include 'header.html'%}

<div class="card shadow mx-auto mt-5" style="max-width: 400px;">
    <!-- <div class="card shadow m-5"> -->
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom:2px solid orange">Admin Login</h5>
        <hr>

        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Username</label><input type="text" name="username" class="form-control"
                                placeholder="Username" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Password</label><input type="password" name="pwd" class="form-control"
                                placeholder="Enter Password" required>
                        </div>
                    </div>
                </div>

                <input type="submit" value="Log In" class="m-2 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% if error == "no"%}
<script>
    alert('Admin LogIn Successful !!!');
    window.location = "{% url 'admin_home' %}";

</script>
{% endif %}

{% if error == "yes"%}
<script>
    alert('LogIn Unsuccessful !!! Invalid Login Credentail!! Try again.')
</script>
{% endif %} 
