{% load static %}
{% include 'header.html'%}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- To use Bootstrap in your HTML file, you need to follow these steps: -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" type="css" href="{% static 'css/login.css'%}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

</head>

<body>

  <!-- <body style="background-image : url('{%static 'images/bg.jpg' %}')"> -->
  <!--body style="background-image: url('{% static 'images/bg.jpg' %}');" -->
  <!-- <h1>hello</h1> -->

  <div class="row">
    <div class="col-lg-5 m-auto">
      <div class="card mt-5 bg-dark">

        <div class="card-title text-center mt-3">
          <img src="{% static 'images/login.png'%}" width="150" height="150" alt="">
        </div>

        <div class="card-body">
          <form method="post">
            <!-- always use this in django forms -->
            {% csrf_token %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user fa-2x"></i>
                </span>
              </div>
              <input type="text" name="username" class="form-control py-4" placeholder="Username">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock fa-2x"></i>
                </span>
              </div>
              <input type="text" name="password" class="form-control py-4" placeholder="Password">
            </div>

            <div>
              <input type="submit" value="Login" class="btn btn-success px-2">
              <a href="{% url 'index' %}" class="float-right text-muted mt-2"></a>OR Go Back to Home</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->

</body>

</html>